<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>To Do List</title>
  </head>
  <body>
    <!-- English -->
    <h1><%= kindOfDay %></h1>
    <!-- Japanese -->
    <h1><%= kindOfDayJapan %></h1>

    <ul>
      <li>Buy Food</li>
      <li>Cook Food</li>
      <li>Clean</li>
      <li>Study</li>
    </ul>

    <form class="" action="/" method="post">
      <input type="text" name="newItem" />
      <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
